.error {
  color: #a94442;
  background-color: #f2dede;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px
}

.success {
  color: #3c763d;
  background-color: #dff0d8;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px
}
