<!DOCTYPE html>
<html>
  <head>
    <title>Magnetis</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      Signed in as <%= current_user.name %> | <%= link_to "Logout", logout_path %>
    <% else %>
      <%= link_to 'Login', login_path %> | <%= link_to 'Signup', new_user_path %>
    <% end %>

    <% flash.each do |key, value| %>
        <div class="<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
