<h1>Welcome to your account, <%= @account.user_name %></h1>

<div>
    <ul>
        <li><%= link_to 'Transfer', transfer_path(@account) %>
        <li><%= link_to 'Your Balance', balance_path(@account) %>
    </ul>
</div>
