<h1>Transfer Funds</h1>

<%= form_tag transfers_path do %>

  Destination account: <%= select_tag :destination_id, options_for_select(@another_accounts), { prompt: 'Select the destination account' } %>
  Amount: <%= text_field_tag :amount %>
  <%= hidden_field_tag :source_id, @account.id %>
  <%= submit_tag "Submit" %>

<% end %>
